
<%def name="member_left_sidebar_block()">
<div id="pageletNav">
			    <div id="leftSideNav">
				    <div id="pageletMainNav">
						<ul class="navSide">
						<li id="navItemWelcome">
                        <a href="${request.route_url('hackernews')}" class="item">
								<span class="linkWrap">空袋社区</span>
						</a>
                        </li>
						<li id="navItemWelcome">
                        <a href="/apps/limitedfree" class="item">
								<span class="linkWrap">限时免费</span>
						</a>
                        </li>
						<li id="navItemWelcome">
                        <a href="/apps/box" class="item">
								<span class="linkWrap">应用盒子</span>
						</a>
                        </li>
						
						            
						</ul>
					    
				    </div>
			    </div>
</div>


</%def>





<%def name="member_change_password_script()">

<script> 


function editProfile(node) {
  
    $('#profiletip').text('提交中……');
    $('#profiletip').fadeIn("slow");  
    
    $.ajax({
        type: 'POST',
        url: '/settings/editprofile',    
        data: {'login_email': $('#login_email').val()},
        success: function(json){
		$('#profiletip').text(json.info);
		
                if(json.result == 'ok'){
                }
		else if(json.result == 'redirect')
		{
		    $(location).attr('href',json.url);
		}
        }
    });
    
}


function editPassword(node) {
  
    $('#passwordtip').text('提交中……');
    $('#passwordtip').fadeIn("slow");  
    
    $.ajax({
        type: 'POST',
        url: '/settings/editpassword',    
        data: {'oldpwd': $('#oldpwd').val(),'newpwd': $('#newpwd').val()},
        success: function(json){
		            $('#passwordtip').text(json.info);
		
                if(json.result == 'ok'){
                    $('#oldpwd').val('');
                    $('#newpwd').val('');
                }
            		else if(json.result == 'redirect')
            		{
            		    $(location).attr('href',json.url);
            		}
        }
    });
    
}





</script>

</%def>





<%def name="member_login_block()">



%if login_name_error:
<span class="errorInfo">帐号: ${login_name_error}</span>
%endif
%if login_password_error:
<br/><span class="errorInfo">密码: ${login_password_error}</span>
%endif

    <form id="login_form" action="/login" method="POST" onsubmit="md5hash(login_password, login_md5password, login_md5password_utf, 0)">
		<div class="clearfix">
				<label for="xlInput">帐 号:</label>
				<div class="input">
						<input class="large" type="text" name="login_name" id="loginName" value="${login_name}" class="smallinput" max-length=20>
				 </div>
		</div>

		<div class="clearfix">
				<label for="xlInput">密 码:</label>
				<div class="input">
						<input class="large" type="password" name="login_password" id="loginPassword" class="smallinput">
						<input type="hidden" name="login_md5password">
						<input type="hidden" name="login_md5password_utf">
				</div>
		</div>

    <hr class="clear">
    	<div class="clearfix">
				<div class="input">
				<input type="hidden" id="url_from" name="url_from" value="${url_from}">
				<span class="offset1"><input type="submit" value="登 录" id="loginSubmit" name="login_submit" class="submitButton"></span>
				<span class="offset0"> <a href="/signup">立即注册</a></span>
				</div>
		</div>	
    </form>
 

</%def>


