{% extends "site.html" %}

{% import 'pagelet/sidebar_nav_tpl.html' as nav %}
{% import 'board/board_tpl.html' as tpl %}

{% block rightbar_block %}

{% endblock %}

{% block script_block %}
<link rel="stylesheet" type="text/css" href="/static/css/board.css" />
{% block javascript_block %}
<script  type="text/javascript" >

function comment_it(topic_id){

	var show = $('#commentlist_'+topic_id).attr('show');

   if(show === 'none')
   {
	$.get('/board/commentlist?topic_id='+topic_id, function(data) {
		$('#commentlist_'+topic_id).html(data);
		});
	  $('#commentlist_'+topic_id).attr('show','true');
	}
	else if(show === 'true')
	{
		$('#commentlist_'+topic_id).hide();
		$('#commentlist_'+topic_id).attr('show','false');
	}
	else
	{
		$('#commentlist_'+topic_id).show();
		$('#commentlist_'+topic_id).attr('show','true');
	}
}


$(function() {
    var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($(".rightBar"))
        .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
            $("html, body").animate({ scrollTop: 0 }, 120);
    }), $backToTopFun = function() {
        var st = $(document).scrollTop(), winh = $(window).height();
        (st > 300)? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $(function() { $backToTopFun(); });
})();

function load_morecontent(topicid)
{
	$.get("/board/api/morecontent",
        {topic_id:topicid},
        function(data){
            var more = data['html'];
            $("#newsMore"+topicid).show().html(more);
            $("#newsMoreAction"+topicid).hide();
        },
        "json");
}

$("#newsMoreActions").live("click", load_news_more());

</script>
{% endblock %}
{% endblock %}


{% block plusbar_block %}

<div class="sideBar">
<div class="pagelet">
	{% if node_follower %}
	<div class="boxTitle">
		<h5>关注的话题</h5>
	</div>
	<div class="boxInner" align="left">
	{% for n in node_follower.nodes %}
	<a href="/board/node/{{n.name}}" class="highlight">{{n.desc}}</a>  
	{% endfor %}
	
	</div>
	{% endif %}


    <div class="boxTitle">
    <h5>热门话题</h5>
    </div>
    <div class="boxInner" align="left">
		{% if node_list %}
			{% for n in node_list %}
			<a href="/board/node/{{n.name}}" class="highlight">{{n.desc}}</a>  
			{% endfor %}
		{% endif %}
    </div>
</div>
</div>

{% endblock %}


{% block content_block %}

{{ tpl.board_content_block(topic_list, timeover) }}

{% endblock %}
    
{% block board_submit_block %}
<div class="mainContent">
<div class="newsHeader">
<form action="/board/submit/mine" method="POST">

<div class="clearfix"></div>


<div class="clearfix">
	<textarea cols="70" id="topic_content" class="inputbox" name="topic_content"  rows="8" placeholder="主题内容"></textarea>
	<span class="help-block">
	最多可以输入300个字 (创建后的新主题无法编辑) 
	</span>
<!--
<a href="#" onclick="showMoreContent()" class="moreContent" title="更多">+</a>
<div id="moreContent" class="clearfix {% if not topic_more_content  %}displayNone{% endif %}">
	<textarea cols="70" id="topic_more_content" class="inputbox" name="topic_more_content"  rows="15" placeholder="更多内容 ">{{topic_more_content|escape}}</textarea>
</div>
	<span class="help-block">
	<div class="mediaKind">


<a href="#" onclick="showUploadImage()" class="picture" title="图片">图片</a>

<a href="#" onclick="showUploadVideo()" class="video" title="视频">视频</a>

	</div>
	</span>
-->
</div>



<div id="uploadImage" class="clearfix displayNone">
    <div  class="">
            <a href="#" onclick="closeUploadImage()" class="rfloat" id="closeUploadImage" title="关闭">x</a>
            <p>图片地址:</p>
            <input type="text" class="xxxxlarge" id="topic_images" name="topic_images" placeholder="图片地址">
    </div>
</div>

<div id="uploadVideo" class="createVideo clearfix displayNone">
    <div  class="">
            
            <p>视频地址: <a href="#" onclick="closeUploadVideo()" title="关闭">X</a></p>
            <input type="text" class="xxxxlarge" id="topic_videos" name="topic_videos" placeholder="优酷、土豆、56等网站视频可直接播放">
    </div>
</div>


<!--
<div class="clearfix">
	<input autocomplete="off" class="xxxxlarge" id="topic_tags" name="topic_tags" placeholder="标签：例如 (心情 工作)，最多5个，可以为空 " size="30" type="text" value="{{topic_tags}}">
	<span class="help-block">
	(使用空格分隔)
	</span>
</div>
-->



<div class="clearfix">
   <input type="submit" name="topic_submit" value="提交" class="submitButton">
</div>
{{ xsrf_form_html() }}
</form>
</div>
</div>
{% endblock %}