{% extends "templates/site/admin/index.html" %}





{% block script_block %}

<script src="/static/js/jquery.min.js" type="text/javascript" ></script>

<link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
<script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>

<script type="text/javascript">
/*<![CDATA[*/
jQuery(function($) {
$('#Software_description').cleditor({'width':800,'height':300,'useCSS':true});
});
/*]]>*/
</script>

{% endblock %}



{% block content_block %}


<div class="form">

<form id="software-form" action="/admin/edit_app/{{app.id}}" method="post">
	<p class="note">Fields with <span class="required">*</span> are required.</p>

	<div class="row">
		<label for="Software_guid">Guid<span class="required">*</span></label>
		<input size="60" maxlength="128" name="app_guid" id="Software_guid" type="text" value="{{app.guid}}" />			</div>
        <div class="row">
		<label for="Software_download_url">iTunes Download Url<span class="required">*</span></label>
		<input size="100" maxlength="255" name="app_download_url" id="Software_download_url" type="text" value="{{app.dl_url}}" />			</div>



	<div class="row">

		<label for="Software_name">Name <span class="required">*</span></label>
		<input size="60" maxlength="255" name="app_name" id="Software_name" type="text" value="{{app.name}}" />
	</div>

	<div class="row">
		<label for="Software_description">Description<span class="required">*</span></label>
                
                <textarea name="app_description" id="Software_description" style="width: 800px; height: 273px;">{{app.desc}}</textarea>
	</div>

	<div class="row">
		<label for="Software_version">Version<span class="required">*</span></label>
		<input size="32" maxlength="32" name="app_version" id="Software_version" type="text" value="{{app.version}}" />			</div>

	<div class="row">
		<label for="Software_price">Price<span class="required">*</span></label>
		<input size="10" maxlength="10" name="app_price" id="Software_price" type="text" value="{{app.price}}" />			</div>

	<div class="row">
		<label for="Software_size">Size</label>
		<input size="10" maxlength="10" name="app_size" id="Software_size" type="text" value="{{app.size}}" />			</div>


	<div class="row">
		<label for="Software_category">Category<span class="required">*</span></label>
		<input size="32" maxlength="32" name="app_category" id="Software_category" type="text" value="{{app.category}}" />			</div>

	<div class="row">
		<label for="Software_type">Type<span class="required">*</span></label>
		<input name="app_type" id="Software_type" type="text" value="{{app.type}}" />			</div>

	<div class="row">
		<label for="Software_smalllogo_url">Small Logo Url<span class="required">*</span></label>
		<input size="60" maxlength="255" name="app_smalllogo_url" id="Software_smalllogo_url" type="text" value="{{app.small_logo}}" />			</div>
			
    <div class="row">
		<label for="Software_logo_url">Logo Url<span class="required">*</span></label>
		<input size="60" maxlength="255" name="app_logo_url" id="Software_logo_url" type="text" value="{{app.logo}}" />			</div>
			
	
	<div class="row">
		<label for="Software_tags">Tags</label>
		<textarea rows="6" cols="50" name="app_tags" id="Software_tags">
{% for tag in app.tags %}
{{tag}},
{% endfor %}
		</textarea>			</div>

	<div class="row">
		<label for="Software_screenshots">Screenshots</label>
		<textarea rows="6" cols="50" name="app_screenshots" id="Software_screenshots">
{% for shot in app.screenshots %}
{{shot}},
{% endfor %}
		</textarea>
	</div>

	<div class="row">
		<label for="Software_create_time">Create Time</label>
		<input name="app_create_time" id="Software_create_time" type="text" value="{{app.create_time}}" />			</div>

	<div class="row">
		<label for="Software_publish_time">Publish Time</label>
		<input name="app_publish_time" id="Software_publish_time" type="text" value="{{app.publish_time}}" />			</div>




	<div class="row buttons">
		<input type="submit" name="edit_submit" value="Save" />  </div>

</form>
</div>


{% endblock %}

