{% extends "admin/index.html" %}

{% block content_block %}

    
<div id="mainContent">

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody>



<tr style="height:10px"></tr>
<tr><td>

<form action="/admin/board/topic?action=edit&topic_id={{topic.id}}" method="POST">

<table border="0" width="72%">
    <tbody>
	
    <tr><td valign="top"></td><td>
    {% if topic_content_error %}:
<span class="errorInfo">内容: {{topic_content_error}}</span>
<br/>
{% endif %}
   <div id="editor-button-bar"></div>
			
		<textarea cols="70" id="topic_content" class="inputbox" name="topic_content"  rows="4" style="height:150px;" >{{topic.content}}</textarea>

    </td></tr>
    <tr style="height:10px"></tr>
	
    <tr><td></td><td>
		
		<select id="TopicNode" name="topic_node">
<option value='{{topic.node.name}}'>{{topic.node.desc}}</option>

{% for node in node_list %}
<option value='{{node.name}}'>{{node.desc}}</option>

{% endfor %}
</select>
		
	</td></tr>

    <tr><td></td>
    <td>


    <input type="submit" name="topic_submit" value="保存" class="submitButton">
		{{ xsrf_form_html() }}
    </td></tr>
	
   
    </tbody></table>
</form>

</td></tr></tbody></table>

</div>


{% endblock %}

