{% extends "templates/site/admin/index.html" %}


{% block content_block %}
<a href="/admin" >
<span>主页</span>
</a>

<span>限时免费应用</span>
<div id="pageContent">
<div class="appThumbnailWrapper">
			  <a class="appThumbnail" href="/admin/view_app/{{app.id}}">
			     {{app.name}} <img alt="{{app.name}}" src="{{app.logo}}"> 
				</a>
</div>
<div>

{% if not app_name %}
{% set app_name = app.name %}
{% endif %}
<form id="node-form" action="/admin/limitedfree_app?id={{app.getid()}}&action=add" method="post">

<div class="row">
		<label for="app_name">名称<span class="required">*</span></label>
		<input size="100" maxlength="255" name="app_name" id="app_name" type="text" value="{{app_name}}" />
</div>


<div class="row">
		<label for="app_type">原App类型：{{app.type}}<span class="required">* <br/></span></label>
		
		<select name="app_type" id="app_type" defvalue="user">
    <option value="iPhone">iPhone</option>
    <option value="iPad">iPad</option>
</select>
		
</div>

<div class="row">
		<label for="app_type">Drop App Opinion<span class="required">*</span></label>

<select name="app_opinion" id="app_opinion" defvalue="user">
    <option value="可以一玩">可以一玩</option>
    <option value="不容错过">不容错过</option>
    <option value="超级推荐">超级推荐</option>
</select>
		
</div>

<div class="row">
<input type="submit" name="add_submit" value="Add LimitedFree App" /></div>
</div>
</form>
 </div>
</div>
{% endblock %}

