{% extends "templates/site/admin/index.html" %}


{% block content_block %}

<a href="/admin" >
<span>主页</span>
</a>
<a href="/admin/market_box/all" >
<span>盒子</span>
</a>


<div id="mainContent">

	
	<div id="content">
		<div id="pageContent">

{% if boxapp %}
{% set app = boxapp.app %}
<form action="/admin/market_box/boxapp?boxapp_id={{boxapp.id}}&box_id={{box.id}}&action=edit" method="POST">

<table border="0" width="72%">
    <tbody>
	
    <tr><td>

{% if app_desc_error %}
<span class="errorInfo">内容: {{app_desc_error}}</span>
<br/>
{% endif %}
	<span><h2>{{box.title}}</h2></span>
	</td></tr>
	 <tr><td>
		<span><a href="/market/detail/{{app.id}}"><img src="{{app.small_logo}}"></a></span>
	</td></tr>
	<tr style="height:10px"></tr>
	<tr><td>	
		<span>{{app.name}}</span>
	</td></tr>
	<tr style="height:10px"></tr>
    <tr><td>
		<textarea cols="70" id="App_desc" class="inputbox" name="app_desc"  rows="5" >{{boxapp.app_desc}}</textarea>
			<span>最大输入200个字</span>
	 </td></tr>
    <tr>
    <td>
    <input type="submit" name="market_submit" value="提交" class="submitButton">
    </td></tr>
   
    </tbody></table>
</form>

{% else %}
{% if box %}
<h2>{{box.title}}</h2>
	<div class="appBlockPage">
	    <div class="appNewsPage">

{% for box_app in box.apps %}
	      <div class="appInlineBlock">
		  <div class="appSnippet">
			<div class="appThumbnail">
				<a  href="/admin/market_box/boxapp?box_id={{box.id}}&boxapp_id={{box_app.id}}&action=edit">
					<div class="appThumbnailWrapper">
						  <img alt="{{box_app.app.name}}" src="{{box_app.app.small_logo}}">
						<span class="appThumbnailMask"></span>
					</div>
				</a>
			</div>
		      <div class="appDetails">
			  <a href="/market/detail/{{box_app.app.id}}" title="{{box_app.app.name}}" class="title">{{box_app.app.name}}
{% if box_app.app.price == 'Free' %}
(Free)
{% endif %}
</a>
			<a href="/admin/market_box/boxapp?box_id={{box.id}}&boxapp_id={{box_app.id}}&action=edit"class="title">编辑</a>
			
			<a href="javascript:if(confirm('确实要删除吗?'))location='/admin/market_box/boxapp?box_id={{box.id}}&boxapp_id={{box_app.id}}&action=delete'" title="{{box_app.app.name}}" class="title">删除</a>

		
			  
			</div>
			  
		      </div>
		  </div>
	      
{% endfor %}
	</div>
	    </div>
{% endif %}
	
{% endif %}
</div>

<div id="rightBar">

<form action="/admin/market_box/search?box_id={{box.id}}" method="POST">
<input size="60" maxlength="128" name="app_name" id="Box_title" type="text" >
 <input type="submit" name="market_submit" value="搜索" class="submitButton">
</form>
</div>


</div>
		
	
</div>
    

{% endblock %}
    
